/*force empty scrollbar on short pages so there's no jump to pages with scrollbars*/
html {
height : 100%;
overflow-y: scroll;
}

img {
	width:100%;
}


header {
	width: 100%;
	background-color: Orange;
	height:200px;
}
	
.main {
	max-width:960px;
	margin:0 auto;
	overflow:hidden;
}

.content {
	width:100%;
	float:none;
	padding-top:10px;
}

.sidebar {
	width:100%;
	float:none;
	background-color: purple;
	height:250px;
}

.post {
	width:94%;
	padding:0 3% 3% 3%;
}

@media only screen and (min-width : 481px) {

.post {
	width:46%;
	padding:0 2% 2% 2%;
}

}

@media only screen and (min-width : 769px) {

.post{
	width:30.333%;
	padding:0 1.5% 1.5% 1.5%;
}

.sidebar {
	width:29.95%;
	float:right;
	background-color: purple;
	height:250px;
	margin:10px 1% 0 0;
}

.content {
	width:68%;
	float:left;
}

header {
	width:98%;
	margin:0 auto;
}

}

@media only screen and (max-width : 960px) {

.content {
	margin:0 0;
}

}
